.content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.project-card {
  background: rgba(255,255,255,0.1);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}
.project-card img {
  width: 100%;
  border-radius: 10px;
}
